<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MageProfis_SpecialCategories>
            <version>1.0.0</version>
        </MageProfis_SpecialCategories>
    </modules>
    <global>
        <blocks>
            <specialcategories>
                <class>MageProfis_SpecialCategories_Block</class>
            </specialcategories>
        </blocks>
        <models>
            <specialcategories>
                <class>MageProfis_SpecialCategories_Model</class>
                 <resourceModel>specialcategories_resource</resourceModel>
            </specialcategories>
            <specialcategories_resource>
                <class>MageProfis_SpecialCategories_Model_Resource</class>
            </specialcategories_resource>
        </models>
        <helpers>
            <specialcategories>
                <class>MageProfis_SpecialCategories_Helper</class>
            </specialcategories>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">MageProfis_SpecialCategories_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <specialcategories>
                                            <title>Special Categories</title>
                                        </specialcategories>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <specialcategories>
                    <files>
                        <default>MageProfis_SpecialCategories.csv</default>
                    </files>
                </specialcategories>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <mageprofis_special_categories>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>specialcategories/catalog_category_relations::addItemsToCategories</model>
                </run>
            </mageprofis_special_categories>
        </jobs>
    </crontab>
</config>